* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  background: linear-gradient(to top, rgba(0,0,0,0.5)100%, rgba(0, 0, 0, 0.276)100%), url('/Finalproject/images/bg1.2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin-bottom: 60px;
}
.navbar{
  background-color: rgb(147, 123, 89);
}
.container-fluid a img{
  border-radius: 70%;
  margin-left: 10px;
}
.nav-item a{
  font-family: sans-serif;
  color: #fff;
  padding-left: 10px;
  margin-left: 15px;
  font-size: 1.2em;
}
.content {
  padding: 50px;
  margin-top: 30px;
}

.content h1 {
  font-family: sans-serif;
  color: burlywood;
  font-size: 4em;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
}

.content p {
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-family: cursive;
}
.footer {
  background-color:rgba(0, 0, 0, 0, ); 
  color: white;
  font-weight: bold;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.title h1{
  background-color:rgba(0, 0, 0, 0); /* Blue background color */
  color: #fff;
  font-family: cursive;
  margin-top: 30px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px #000;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}
.title h2{
  background-color:rgba(0, 0, 0, 0); /* Blue background color */
  color: burlywood;
  font-family: cursive;
  margin-top: 0px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 3px #000;
  padding: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}
.title h3{
  background-color:rgba(0, 0, 0, 0); /* Blue background color */
  color: burlywood;
  font-family: sans-serif;
  margin-top: 150px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 3px #000;
  padding: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 1.8em;
  text-align: center;
}
.product h2{
  font-size: 1.25em;
  font-weight: 800;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
.product-container img{
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.form-select{
 font-family: sans-serif;
 margin-bottom: 10px;
}
.product {
text-align: center;
margin: 20px;
padding: 10px;
background-color: burlywood;
border: 1px solid #ddd;
border-radius: 8px;
width: 300px;
}
.product h2{
  font-family: cursive;
}
.button{
  font-family: sans-serif;
}
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;}

.card-body{
  width: 100%;
  margin: 0%;
}
.card{
  width: 50%;
  margin: 10%;
}
.content1 h1 {
  margin-top: 80px;
  font-family: sans-serif;
  color: burlywood;
  font-size: 4em;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.content1 p {
  font-size: 1.3em;
  color: #fff;
  text-shadow: 2px 1px 2px #000;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.social-media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}
.social-media-icons img {
  width: 50px; 
  height: 40px;
  margin-bottom: 90px;
  padding-right: 20px;
}
@media (max-width: 600px) {
  body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .title h1{
    font-size: 2em;
  }
  .content h1{
    font-size: 2.5em;
  }
  .content p{
    font-size: 1.5em;
  }
  .product{
    width: 100%;
    height: 350px;
    flex-direction: column;
  }
  .product-container img{
    width: 120px;
    height: 120px;
  }
  .form-select{
    margin-top: 0%;
  }
  .card{
    width: 100%;
    margin: 10%;
  }
  .nav-item a{
    font-size: 1em;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .title h1{
    font-size: 2em;
  }
  .content h1{
    font-size: 3.5em;
  }
  .content p{
    font-size: 2em;
  }
  .product{
    width: 70%;
    height: 400px;
    flex-direction: column;
  }
  .product-container img{
    width: 150px;
    height: 150px;
  }
  .form-select{
    margin-top: 0%;
  }
  .card{
    width: 100%;
    margin: 10%;
  }
  .nav-item a{
    font-size: 1.2em;
  }
}
@media (min-width: 1080px) {
  .product{
    width: 20%;
    flex-direction: column;
  }
}

